---
import { Image } from "astro:assets";

import Author1 from "../images/author1.jpeg";
import Author2 from "../images/author2.jpeg";
import Author3 from "../images/author3.jpeg";
import IconFacebook from "../images/icon-facebook.svg";
import IconGitHub from "../images/icon-github.svg";
import IconGmail from "../images/icon-gmail.svg";
import IconInstagram from "../images/icon-instagram.svg";
import IconLinkedIn from "../images/icon-linkedin.svg";
import IconTwitter from "../images/icon-twitter.svg";
import Logo from "../images/logo.jpeg";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About The Sean's Blog" url="/about/">
  <h1 class="text-4xl font-bold mb-5">About Sean's Blog</h1>
  <div class="flex flex-col md:flex-row items-center justify-between gap-6">
    <div class="w-full md:w-1/2 mb-8 md:mb-0">
      <Image
        src={Logo}
        alt="Sean's Blog Team"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </div>
    <div class="w-full md:w-1/2">
      <h2 class="text-3xl font-extrabold mb-4">Who We Are</h2>
      <p class="leading-relaxed mb-6">
        Welcome to Sean's Blog, formerly known as Sealman's first homepage. Our
        authors are actually the same person, Sean from different periods. We
        are a team of continuously passionate technology enthusiasts (a
        multiverse of authors), dedicated to bringing you all relevant
        information. The latest articles, teaching, and sharing of technology.
      </p>
      <p class="leading-relaxed mb-6">
        Our mission is to provide more support and education to Taiwan's web
        development community and help everyone keep up with the rapidly
        developing world of web developments around the world. Whether you're an
        experienced developer, a fan of related technologies, or just curious
        about a technology trend, we've got you covered.
      </p>
      <p class="leading-relaxed mb-6">
        本部落格是採用創用 CC 姓名標示 - 非商業性 - 相同方式分享 4.0
        國際授權條款授權，即<a
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          title="CC BY-NC-SA 4.0"
          class="underline hover:text-maple-600"
        >
          CC BY-NC-SA 4.0
        </a>授權。
      </p>
    </div>
  </div>

  <!-- About Me -->
  <div class="mt-10">
    <h2 class="text-3xl font-extrabold mb-8">Our Team</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="shadow-lg shadow-pink-200 rounded-lg overflow-hidden">
        <Image src={Author3} alt="Team Member 1" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">Sean Huang</h3>
          <p class="mb-2">Lead Writer & Editor-in-Chief.</p>
          <p class="mb-2">Former Wistron Frontend Engineer.</p>
          <p class="mb-4">Passion Comes From Mastery.</p>
          <ul class="flex flex-wrap gap-4">
            <li class="hover:opacity-90">
              <a href="mailto:castel2668@gmail.com" target="_blank">
                <Image src={IconGmail} alt="Gmail" width={30} height={30} />
              </a>
            </li>
            <li class="hover:opacity-90">
              <a href="https://github.com/castle2668" target="_blank">
                <Image
                  src={IconGitHub}
                  alt="GitHub"
                  width={30}
                  height={30}
                  class="dark:bg-white dark:rounded-full dark:border-white dark:border-[1px]"
                />
              </a>
            </li>
            <li class="hover:opacity-90">
              <a
                href="https://www.linkedin.com/in/sean-huang-tw"
                target="_blank"
              >
                <Image
                  src={IconLinkedIn}
                  alt="LinkedIn"
                  width={30}
                  height={30}
                />
              </a>
            </li>
            <li class="hover:opacity-90">
              <a href="https://www.facebook.com/seanhuangdev" target="_blank">
                <Image
                  src={IconFacebook}
                  alt="Facebook"
                  width={30}
                  height={30}
                />
              </a>
            </li>
            <li class="hover:opacity-90">
              <a href="https://www.instagram.com/catsle_h" target="_blank">
                <Image
                  src={IconInstagram}
                  alt="Instagram"
                  width={30}
                  height={30}
                />
              </a>
            </li>
            <li class="hover:opacity-90">
              <a href="https://twitter.com/castle2668" target="_blank">
                <Image src={IconTwitter} alt="Twitter" width={30} height={30} />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="shadow-lg shadow-yellow-200 rounded-lg overflow-hidden">
        <Image src={Author2} alt="Team Member 2" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">海豹人 Sealman</h3>
          <p class="mb-2">Tech Analyst & Former Lead Writer.</p>
          <p class="mb-2">
            Former TAAZE Frontend Developer. Former Rakuya Senior Frontend
            Developer. Former Funliday Frontend Engineer.
          </p>
          <p>
            透過撰寫部落格，可以記錄自己學習或開發的過程，日後檢視自己對該項技能的理解時，也能隨時繼續把文章補充得更完整。
          </p>
        </div>
      </div>
      <div class="shadow-lg shadow-sky-200 rounded-lg overflow-hidden">
        <Image src={Author1} alt="Team Member 3" class="w-full h-auto" />
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">Huang, Yung-Hsiang</h3>
          <p class="mb-2">Founder & Former Editor-in-Chief.</p>
          <p class="mb-2">
            Graduated from National University of Kaohsiung with a bachelor's
            degree in Information Management.
          </p>
          <p>
            專長是前端開發與資訊管理。喜歡的正能量小語：「每天都進步
            1%，一年後你會進步 37 倍；每天都退步 1%，一年後你會弱化到趨近於
            0」。
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
